.DS_Store
auto_test.sh

src/rbf/*.cc
src/rbf/*.h
src/rbf/makefile
src/rbf/*

src/rm/*.cc
src/rm/*.h
src/rm/makefile
src/rm/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
